@import "tailwindcss";


@theme {
  /* Custom Colors */
  --color-darkGray: #475569;
  --color-border: #CBD5E1;
  --color-dark: #002B4B;
  --color-dimGray: #FAF5FF;
  --color-cgreen: #F4F9FD;
  

  --color-primary: #028FEE;
  --color-secondary: #FF6E44;
  --color-gray: #BCC0C4;
  --color-grayDark: #9B9B9B;
  --color-darkGray2: #666666;
  --color-darkBlue: #141F30;
  --color-lightGray : #C6C6C6;
  --color-border2 : #B3B3B366;
  --color-darkBorder :#B3B3B3;
  --color-lightDark:#070707B2;
  --color-blue : #4FADFF;
  --color-lightBlue : #F4F9FD;

  /* Custom Gradients */
  /* --gradient-dropDownBg: linear-gradient(90deg, rgba(0, 254, 181, 0.3) 0%, rgba(0, 254, 181, 0) 100%);
  --gradient-chartGradient: linear-gradient(180deg, rgba(147, 255, 184, 0.2) 0%, rgba(147, 255, 184, 0) 100%); */

  /* Custom Shadows */
  /* --shadow-glow: 0 0 15px 5px rgba(147, 255, 184, 0.7); */

  /* Custom Screens */
  --breakpoint-xxs: 370px;
  --breakpoint-xs: 450px;
  

}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    /* --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.shadowbtn{
  box-shadow: 0px 6px 12px 0px #3F8CFF43;
}

.shadowbt{
  box-shadow: 0px 4px 4px 0px #00000040;

}

.special-label{
  display: hidden !important;
}

.scroll-containerb {
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.scroll-containerb::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.sss{
  box-shadow: 0px 6px 12px 0px #3F8CFF43;

}

.scroll-containery {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.scroll-containery::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}